/* stylesheet */
#header {
  background-image: url("img/header.png");
  background-size: cover;
  background-position: center;
}


#navbar {
  background-color: #56534C;
  opacity: 0.8;
}

#buttonOurMenu {
  background-color: #56534C;
  border-radius: 0;
  border: 2px dotted white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#logoB{
  margin-top: 300px

}

.h{
  margin-top: 150px
}

.text-color-brown {
  color: #a47d5e
}

#img-chef {
  border-radius: 100px;
  width: 96px;
}

.text-hr {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 120px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px
}

.quote-chef {
  color: #a47d5e
}

.quote-chef::before {
  color: gray;
  font-size: 24px;
  content: '\02bb\02bb';
  display: block;
  text-align: left;
}

.quote-chef::after {
  content: '\02bc\02bc';
  color: gray;
  font-size: 24px;
  display: block;
  text-align: right;
}

.img-test-so-good {
  object-fit: cover;
  height: 180px;
  width: 100%
}

#section3 {
  background-image: url(img/ingredients.png);
  background-size: cover;
  background-position: center;
}

.img-sirop {
  object-fit: cover;
  height: 350px;
  width: 100%
}

.fond {
  max-width: 100%;
  height: auto;
}

#coulis {
  height: 80vh;
  background-image: url(img/coulis.png);
  background-size: cover;
  background-position: center;
}

#tasty-pancakes {
  height: 80vh;
  background-image: url(img/moulin.png);
  background-size: cover;
  background-position: center;
  padding-top: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

#section3-row {
  background-color:;
}

#season {
  margin-bottom: 10vh;
}

.block {
  overflow: hidden;
  width: 400px;
  margin: 50px auto;
}

.animation {
  width: auto;
  height: 100px;
  font-size: 0px;
}

.animation div {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 10px;
}

.animation img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 100px;
}

#section4 {
  background-image: url("img/oeuf.png");
  background-size: cover;
  background-position: center;
}

#bottom {
  padding-bottom: 50px
}

.petite {
  opacity: 1;
}

/* #parent {
position: relative;
}
img.superpose {
position: absolute;
top: 25px;
left: 30px;

}
#img_1 {
z-index: 7;

}
#img_2 {
z-index: 6;

}
#img_3 {
z-index: 5;
} */
.img-last {
  width: 40%;
  margin: 1px auto;
  display: block;
  opacity: 0.2
}

#topp {}

#blocImage {
  text-align: center;
  z-index: 200;
}
.debut{
order: 0;

}

/* on fixe la largeur du bloc (optionnel)
   et on le définit comme référent */
blockquote {
    position: relative;
    width: 450px;
height: 550px;
padding-left: 20px;
padding-right:
}
/* on ajoute des effets graphiques
   sur nos futures feuilles */
blockquote,
blockquote:after,
blockquote:before {
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

/* on utilise les pseudo éléments pour ajouter des feuilles */
blockquote:after,
blockquote:before {
    position: absolute;
    top: 0; right:3px; bottom:0; left:-3px;
    content: "";
    z-index: -10;
    /* définit le centre de transformation */
    transform-origin: 100% 0;
}
blockquote:after {
    transform: rotate(-0.6deg);
}
blockquote:before {
    transform: rotate(-1.2deg);
    right: 5px; left: -5px;
}

.img-sand{
  width: 900px
}

.a{
align-self: justify;
  background-color: white
}

#a{
  margin-top: 50px;
  width: 400px;
  	height: 100px;
    margin-bottom: 50px
}

#buttonRead {
  background-color: white;
  border-radius: 0;
  border: 1px solid #a47d5e;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
  margin-bottom: 8px

}


.mm{
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  border: 2px dashed black;

}
.te{

    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px
}

.photo-r {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.espace{padding-left: 50px;
padding-right: 50px;

}


.police{
  font-size:70px;
  font-family: Brush Script MT;
  font-weight:normal;
}

.tt{
  padding-top: 5px;
padding-bottom: 5px
}
